@import '../../../scss/variable.scss';

.smr_topVideoMain {
    background-color: $backgroundColordfine;
    // background-color: #fff;

    @media screen and (max-width:1200px) {
        min-height: auto !important;
    }
}